<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/simple-light-box.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/settings.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/layers.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/custom-menu.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/custom-style.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/custom-styling.scss">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/responsive.min.css">
    <link rel="stylesheet" type="text/css" href="https://financeseva.com/assets/frontend/css/credit-report.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-XC63XKVK5L&amp;l=dataLayer&amp;cx=c"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/destination?id=AW-748028775&amp;l=dataLayer&amp;cx=c"></script>
    <script
        src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202408120101/show_ads_impl_fy2021.js?bust=31086072"></script>
    <script async="" src="//static.ads-twitter.com/uwt.js"></script>
    <script
        src="https://connect.facebook.net/signals/config/930867824613260?v=2.9.164&amp;r=stable&amp;domain=financeseva.com&amp;hme=61ff4e692c87a9a2ce7b19822df2b04638e3ca38b23c1be6c0f1945ccadb2ad5&amp;ex_m=69%2C118%2C104%2C108%2C60%2C4%2C97%2C68%2C16%2C94%2C86%2C50%2C53%2C167%2C170%2C182%2C178%2C179%2C181%2C29%2C98%2C52%2C75%2C180%2C162%2C165%2C175%2C176%2C183%2C127%2C40%2C34%2C139%2C15%2C49%2C189%2C188%2C129%2C18%2C39%2C1%2C42%2C64%2C65%2C66%2C70%2C90%2C17%2C14%2C93%2C89%2C88%2C105%2C51%2C107%2C38%2C106%2C30%2C91%2C26%2C163%2C166%2C136%2C28%2C11%2C12%2C13%2C6%2C7%2C25%2C22%2C23%2C56%2C61%2C63%2C73%2C99%2C27%2C74%2C9%2C8%2C78%2C47%2C21%2C101%2C100%2C102%2C95%2C10%2C20%2C3%2C19%2C83%2C55%2C81%2C33%2C72%2C0%2C92%2C32%2C80%2C85%2C46%2C45%2C84%2C37%2C5%2C87%2C79%2C43%2C35%2C82%2C2%2C36%2C62%2C41%2C103%2C44%2C77%2C67%2C109%2C59%2C58%2C31%2C96%2C57%2C54%2C48%2C76%2C71%2C24%2C110%2C158%2C190%2C192%2C119%2C141%2C146%2C184%2C185%2C125%2C227%2C113%2C142%2C168%2C154%2C115%2C228%2C160%2C116%2C230%2C161%2C132%2C120%2C149%2C144"
        async=""></script>
    <script
        src="https://connect.facebook.net/signals/config/722542314972420?v=2.9.164&amp;r=stable&amp;domain=financeseva.com&amp;hme=61ff4e692c87a9a2ce7b19822df2b04638e3ca38b23c1be6c0f1945ccadb2ad5&amp;ex_m=69%2C118%2C104%2C108%2C60%2C4%2C97%2C68%2C16%2C94%2C86%2C50%2C53%2C167%2C170%2C182%2C178%2C179%2C181%2C29%2C98%2C52%2C75%2C180%2C162%2C165%2C175%2C176%2C183%2C127%2C40%2C34%2C139%2C15%2C49%2C189%2C188%2C129%2C18%2C39%2C1%2C42%2C64%2C65%2C66%2C70%2C90%2C17%2C14%2C93%2C89%2C88%2C105%2C51%2C107%2C38%2C106%2C30%2C91%2C26%2C163%2C166%2C136%2C28%2C11%2C12%2C13%2C6%2C7%2C25%2C22%2C23%2C56%2C61%2C63%2C73%2C99%2C27%2C74%2C9%2C8%2C78%2C47%2C21%2C101%2C100%2C102%2C95%2C10%2C20%2C3%2C19%2C83%2C55%2C81%2C33%2C72%2C0%2C92%2C32%2C80%2C85%2C46%2C45%2C84%2C37%2C5%2C87%2C79%2C43%2C35%2C82%2C2%2C36%2C62%2C41%2C103%2C44%2C77%2C67%2C109%2C59%2C58%2C31%2C96%2C57%2C54%2C48%2C76%2C71%2C24%2C110"
        async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NBKS8QV"></script>
    <script src="https://financeseva.com/assets/frontend/js/modernizr-2.8.3.min.js"></script>
    <script src="https://financeseva.com/assets/frontend/js/jquery-3.5.1.min.js"></script>
    <script src="https://financeseva.com/assets/frontend/js/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://financeseva.com/assets/frontend/css/responsive-style.min.css">
    <link rel="stylesheet" href="https://financeseva.com/assets/blogs/css/style.min.css">
    <link rel="stylesheet" href="https://financeseva.com/assets/frontend/css/megamenustyle.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://financeseva.com/assets/frontend/js/websildermenu.js"></script>
    <link rel="stylesheet" href="https://financeseva.com/assets/subscriber/Subscription.min.css">
    <link rel="stylesheet" href="https://financeseva.com/assets/frontend/css/wow_book.css">

    <!-- New Product Style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://financeseva.com/assets/frontend/css/product_pages_style.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #f4f4f4; /* Light background color */
        }
        h1 {
            text-align: center;
            font-size: 2em;
            color: BLACK;
            margin-bottom: 20px;
            position: relative;
        }

        h1::after {
            content: '';
            display: block;
            width: 60px;
            height: 2px;
            background: #0044cc;
            margin: 10px auto 0;
        }

        h2 {
            font-size: 1.5em;
            color: black;
            margin-top: 20px;
            border-bottom: 2px solid #0044cc;
            padding-bottom: 5px;
        }

        p {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 10px;
        }

        ul {
            padding-left: 40px; /* Increased padding for list items */
            margin-bottom: 20px; /* Added margin for better spacing */
        }

        li {
            margin-bottom: 10px;
            list-style-type: disc;
        }

        .note {
            margin-top: 0;
            padding-top: 0;
            font-style: italic;
            color: #555;
        }

        .underline {
            text-decoration: underline;
            font-weight: bold;
            color: black;
            text-decoration: underline #0044cc;
        }
    </style>
</head>
<body>
    <div class="wsmainfull">
        <div class="container-fluid">
            <div class="desktoplogo"><a href=""><img
                        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjnK5_8epP-uhfyryZPtBqhw0cD_Afn5Fk9N_E_OOfMnZnM_n-5vx0aRJ9ScirhPBL3YbRvU7O4M-8wH057sEn2VCEpSrLtoJET3WNf4J4KAYB3JodUuOwRubZzhxIwKjwAAOEXGFAVVEf1ZlLQCSZJge-rPB2gG4GTO5sfnaYfn2GDvYTYA6H7ib4tBmg/s320/blpl.jpg"
                        style="height: 50px;width:100px;" alt="Blpl"></a></div>
            <!--Main Menu HTML Code-->
            <nav class="wsmenu clearfix">
                <div class="overlapblackbg"></div>
                <ul class="wsmenu-list">
                    <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a
                            href="#/"><img src=""> MSME <span class="wsarrow"></span></a>
                        <ul class="sub-menu">
                            <li aria-haspopup="true"><span class="wsmenu-click02"><i
                                        class="wsmenu-arrow"></i></span><a href="#"><i
                                        class="fas fa-angle-right"></i>Secured Loan</a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Loan
                                            Against Property</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Working
                                            Capital Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Drop Line
                                            Overdraft</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Bank
                                            Guarantee</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Letter of
                                            Credit</a></li>
                                    <li aria-haspopup="true"><a href="#"><i
                                                class="fas fa-angle-right"></i>Industrial Property Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i
                                                class="fas fa-angle-right"></i>Commercial Property Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Builder
                                            Inventory Funding</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Loan
                                            Against Rent Receivable</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Bank
                                            Overdraft</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>LC
                                            Discounting</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Loan
                                            Against Bank Guarantee</a></li>
                                    <li aria-haspopup="true"><a href="#"><i
                                                class="fas fa-angle-right"></i>Infrastructure Construction Loan</a>
                                    </li>
                                </ul>
                            </li>
                            <li aria-haspopup="true"><span class="wsmenu-click02"><i
                                        class="wsmenu-arrow"></i></span><a href="#"><i
                                        class="fas fa-angle-right"></i>Unsecured
                                    Loan</a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Business
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i
                                                class="fas fa-angle-right"></i>Professional Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Dropline
                                            Overdraft Limit</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Machinery
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>MSME
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Capital
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i
                                                class="fas fa-angle-right"></i>Construction Equipment Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Supply
                                            Chain Finance</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Dealer
                                            Finance</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Vendor
                                            Finance</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Startup
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Stand up
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Medical
                                            Equipment Finance</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Factoring
                                            Limit</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>warehouse
                                            receipt Finance</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Loan
                                            Against Credit Card Receipt</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Mudra
                                            Loan</a></li>
                                </ul>
                            </li>

                            <li aria-haspopup="true"><span class="wsmenu-click02"><i
                                        class="wsmenu-arrow"></i></span><a href="#"><i
                                        class="fas fa-angle-right"></i>Project Loan </a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Project
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Solar
                                            Power Project Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Solar
                                            Rooftop</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Cold
                                            Storage Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Warehouse
                                            Construction Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>School
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>College
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Hotel
                                            Funding</a></li>
                                    <li aria-haspopup="true"><a href="#"><i
                                                class="fas fa-angle-right"></i>Construction builders</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Hydro
                                            Power Project Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Transport
                                            Logistics</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Energy
                                            sector loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Water
                                            &amp; Sanitation Funding</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Hospital
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Tourism
                                            &amp; Hospitality</a></li>
                                    <li aria-haspopup="true"><a href="#"><i
                                                class="fas fa-angle-right"></i>Healthcare Industry</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Power
                                            Project</a></li>
                                </ul>
                            </li>


                        </ul>
                    </li>

                    <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a
                            href="#"><img src="https://financeseva.com/assets/frontend/icons/PERSONAL_LOAN.SVG">
                            Personal <span class="wsarrow"></span></a>
                        <ul class="sub-menu">
                            <li aria-haspopup="true"><span class="wsmenu-click02"><i
                                        class="wsmenu-arrow"></i></span><a href="#"><i
                                        class="fas fa-angle-right"></i>Personal Need
                                    Loans</a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Personal
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Overdraft
                                            Against Salary</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Home
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a
                                            href="https://financeseva.com/home-loan-without-map"><i
                                                class="fas fa-angle-right"></i>Home Loan Without Map</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Home Loan
                                            Overdraft Facility</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>NRI Home
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Home
                                            Construction Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Loan
                                            Against Property Without Map</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Loan
                                            Against Property Salary</a></li>
                                    <li aria-haspopup="true"><a href="#"></i>NRI Loan Against Property</a></li>
                                    <li aria-haspopup="true"><a href="#"></i>Loan Against Securities</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Education
                                            Loan</a></li>
                                    <li aria-haspopup="true"><a href="#"><i class="fas fa-angle-right"></i>Used Car
                                            Loan</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>



                    <li><a href="/services"><img src="#"> Services</a></li>
                    <li><a href="/about"><img src="#"> About us</a></li>
                    <li><a href="/contant"><img src="#"> Contact us</a></li>
                    <li><a href="/tools"><img src="#"> Tools</a></li>
                    <li><a href="/login"><img src="#"> Admin</a></li>



                </ul>
            </nav>
            <!--Menu HTML Code-->
        </div>
    </div>
    <style>
        .transparent-header-inner {
            /* background: #69bf6f; */
            background: #FFF;

        }
    </style>
    <style>
        .display-flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .secure-hidden-items {
            display: none;
        }

        .unsecure-hidden-items {
            display: none;
        }

        .project-hidden-items {
            display: none;
        }

        #project-less-btn {
            display: none;
        }

        .tool-hidden-items {
            display: none;
        }

        #tool-less-btn {
            display: none;
        }

        .insurance-hidden-items {
            display: none;
        }

        #insurance-less-btn {
            display: none;
        }

        .personal-hidden-items {
            display: none;
        }

        #personal-less-btn {
            display: none;
        }

        #secure-less-btn {
            display: none;
        }

        #unsecure-less-btn {
            display: none;
        }
    </style>
    <div class="container">
        <h1>Refund Policy</h1>
        <p>When a payment of fee is made to BLPL Finserv, the fees paid in advance is retained by BLPL Finserv in a client account. BLPL Finserv will earn the fees upon working on a client’s matter. Refund cannot be provided for earned fee because resources and man hours spent on delivering the service are non-returnable in nature. Further, we can’t refund or credit any money paid to government entities such as taxes, or to other third parties with a role in processing your order. Refund request can be initiated through info@Blplfinserv.in. All refund requests must be made within 14 days of purchase. We will process your request within 3 to 5 business days of receiving all the information required for processing refund like reason for refund, bank details for processing request, etc.<br> Refund will be issued for the following only :</p>
        <ul>
            <li>Any mistake in the procedure from our side</li>
            <li>Any error which cannot be edited</li>
        </ul>
        <p class="note">Note: Refund is not applicable to delay in starting the business, change of mind, switching to new venture, rejection of loan, and all other factors except the above-mentioned terms.</p>
        <p class="underline">Refund and Cancellation Policy</p>
        <p>At BLPL Finserv, we take pride in the services delivered by us and guarantee your satisfaction with our services and support. We constantly improve and strive to deliver the best project report creation, CMA Data preparation, and other credit report-related services.</p>
        <p>However, in case you are not satisfied with our services, please contact us immediately (within 14 days) and we will correct the situation, provide a refund or offer credit that can be used for future BLPL Finserv orders.</p>
        <p class="underline">Cancellation Policy</p>
        <p>Since we are incurring costs and dedicating time, manpower, technology resources, and effort to your service or document preparation, our guarantee only covers satisfaction issues caused by BLPL Finserv – not changes to your situation or your state of mind. In case you require us to hold the processing of an assisted service, we will hold the fee paid on your account until you are ready to commence the assisted service. Before processing any refund, we reserve the right to make best effort to complete the service. In case, you are not satisfied with the service, a cancellation fee of 50% would be applicable.</p>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjnK5_8epP-uhfyryZPtBqhw0cD_Afn5Fk9N_E_OOfMnZnM_n-5vx0aRJ9ScirhPBL3YbRvU7O4M-8wH057sEn2VCEpSrLtoJET3WNf4J4KAYB3JodUuOwRubZzhxIwKjwAAOEXGFAVVEf1ZlLQCSZJge-rPB2gG4GTO5sfnaYfn2GDvYTYA6H7ib4tBmg/s320/blpl.jpg" style="height: 50px;width:100px;" alt="Blpl">
                
            </div>
            <div class="footer-office">
                <h4>Registered Office</h4>
                <p>E-3, Top Floor, Tower A, Bhavishya Apartment, 
                    Nai Basti Road, Deoli,
                    New Delhi -110062
                </p>
                <p><i class="fas fa-phone"></i> +91 88510 41909</p>
            </div>
            <div class="footer-office">
                <h4> Office</h4>
                <p>BLPL Financial Services 
                    Ghosi Road 
                    Nagra 
                    Ballia 
                    Uttar Pradesh 221711
                </p><br>
                <p><i class="fas fa-envelope"></i> care@Blplfinserv.in</p>
                <p><i class="fas fa-envelope"></i> info@Blplfinserv.in</p>
                <p><i class="fas fa-envelope"></i> Arati.Gupta@Blplfinserv.in</p>
                <p><i class="fas fa-envelope"></i> Gopal.Prasad@Blplfinserv.in</p>
            </div>
            <div class="footer-office">
                <h4> Office</h4>
                <p>BLPL Financial Services 
                    Sri Ram Plaza 
                    Bank mor 
                    Dhanbad, Jharkhand 826001
                </p>
            </div>
            <div class="footer-links">
                <h4>Quick Link</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Partner</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/privacypolicy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms Of Use</a></li>
                    <li><a href="/policy">Refund Policy</a></li>
                </ul>
            </div>
            <div class="footer-follow">
                <h4>Follow</h4>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
            <div class="footer-bottom">
                <p>Copyright ©2024 Private Limited All Rights Reserved</p>       
            </div>
        
    </footer>
    <style>
        footer {
        background-color: #1a2a38;
        color: #ffffff;
        padding: 40px 0;
        font-family: Arial, sans-serif;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
    }
    
    .footer-logo img {
        max-width: 100px;
        margin-bottom: 10px;
    }
    
    .footer-office, .footer-links, .footer-follow {
        max-width: 250px;
    }
    
    .footer-office h4, .footer-links h4, .footer-follow h4 {
        font-size: 16px;
        margin-bottom: 10px;
        color: #ffffff;
    }
    
    .footer-office p, .footer-links ul, .footer-follow ul {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 10px;
        color: #d3d3d3;
    }
    
    .footer-links ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-links ul li {
        margin-bottom: 5px;
    }
    
    .footer-links ul li a {
        color: #d3d3d3;
        text-decoration: none;
        font-size: 14px;
    }
    
    .footer-links ul li a:hover {
        color: #ffffff;
    }
    
    .footer-follow ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;
    }
    
    .footer-follow ul li {
        display: inline;
    }
    
    .footer-follow ul li a {
        color: #d3d3d3;
        font-size: 18px;
    }
    
    .footer-follow ul li a:hover {
        color: #ffffff;
    }
    
    .footer-bottom {
        text-align: center;
        padding: 20px 0;
        font-size: 14px;
        color: #d3d3d3;
        border-top: 1px solid #d3d3d3;
        margin-top: 20px;
        background-color: #1a2a38;
        margin-bottom: 0;
    }
    
    .footer-bottom p {
        margin: 5px 0;
        font-size: 14px;
        font-weight: normal;
    }
    @media (max-width: 768px) {
        .footer-container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .footer-office, .footer-links, .footer-follow {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
        
    
    </style> 
</body>
</html>
